<header class="flex justify-between items-center py-3 w-[1120px] z-10 ">
    <img
        src="avatar.jpg" 
        alt="Marcos photo"
        class="rounded-full w-12 h-12" 
    />

    <nav class="flex felx-row gap-x-10 opacity-80 ">
        <a href="#top">Inicio</a>
        <a href="#info">Sobre mi</a>
        <a href="#experiencia">Experiencia Laboral</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>